body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:793px;
}
#u2205 {
  position:absolute;
  left:540px;
  top:40px;
  width:381px;
  height:793px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:388px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:593px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:563px;
  top:140px;
  width:336px;
  height:593px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:288px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:142px;
}
#u2209 {
  position:absolute;
  left:471px;
  top:-2px;
  width:506px;
  height:142px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:63px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:786px;
}
#u2211 {
  position:absolute;
  left:481px;
  top:731px;
  width:503px;
  height:786px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:385px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
}
#u2213 {
  position:absolute;
  left:563px;
  top:140px;
  width:336px;
  height:13px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:-2px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2215 {
  position:absolute;
  left:563px;
  top:153px;
  width:336px;
  height:47px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:16px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:46px;
}
#u2220 {
  position:absolute;
  left:563px;
  top:153px;
  width:336px;
  height:46px;
  font-size:18px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2222 {
  position:absolute;
  left:580px;
  top:163px;
  width:87px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2224 {
  position:absolute;
  left:681px;
  top:163px;
  width:98px;
  height:22px;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:8px;
}
#u2226 {
  position:absolute;
  left:700px;
  top:191px;
  width:62px;
  height:8px;
  font-size:18px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:-4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2228 {
  position:absolute;
  left:786px;
  top:163px;
  width:95px;
  height:32px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2230 {
  position:absolute;
  left:632px;
  top:209px;
  width:194px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2232 {
  position:absolute;
  left:574px;
  top:209px;
  width:50px;
  height:50px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2234 {
  position:absolute;
  left:634px;
  top:253px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2235 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2236 {
  position:absolute;
  left:634px;
  top:234px;
  width:160px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  position:absolute;
  left:836px;
  top:209px;
  width:52px;
  height:28px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u2240 {
  position:absolute;
  left:574px;
  top:295px;
  width:314px;
  height:1px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:793px;
}
#u2243 {
  position:absolute;
  left:86px;
  top:42px;
  width:381px;
  height:793px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:388px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:593px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2245 {
  position:absolute;
  left:109px;
  top:142px;
  width:336px;
  height:593px;
}
#u2246 {
  position:absolute;
  left:2px;
  top:288px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:142px;
}
#u2247 {
  position:absolute;
  left:17px;
  top:0px;
  width:506px;
  height:142px;
}
#u2248 {
  position:absolute;
  left:2px;
  top:63px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:786px;
}
#u2249 {
  position:absolute;
  left:27px;
  top:733px;
  width:503px;
  height:786px;
}
#u2250 {
  position:absolute;
  left:2px;
  top:385px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
}
#u2251 {
  position:absolute;
  left:109px;
  top:142px;
  width:336px;
  height:13px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:-2px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253 {
  position:absolute;
  left:109px;
  top:155px;
  width:336px;
  height:47px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:16px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:46px;
}
#u2258 {
  position:absolute;
  left:109px;
  top:155px;
  width:336px;
  height:46px;
  font-size:18px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2260 {
  position:absolute;
  left:126px;
  top:165px;
  width:87px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2262 {
  position:absolute;
  left:227px;
  top:165px;
  width:98px;
  height:22px;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2263 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:8px;
}
#u2264 {
  position:absolute;
  left:246px;
  top:193px;
  width:62px;
  height:8px;
  font-size:18px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:-4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2266 {
  position:absolute;
  left:332px;
  top:165px;
  width:95px;
  height:32px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2268 {
  position:absolute;
  left:178px;
  top:211px;
  width:48px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2270 {
  position:absolute;
  left:120px;
  top:211px;
  width:50px;
  height:50px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2272 {
  position:absolute;
  left:180px;
  top:255px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u2274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2274 {
  position:absolute;
  left:180px;
  top:236px;
  width:160px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  position:absolute;
  left:382px;
  top:211px;
  width:52px;
  height:28px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u2278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u2278 {
  position:absolute;
  left:120px;
  top:297px;
  width:314px;
  height:1px;
}
#u2279 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:793px;
}
#u2281 {
  position:absolute;
  left:1000px;
  top:42px;
  width:381px;
  height:793px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:388px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:593px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283 {
  position:absolute;
  left:1023px;
  top:142px;
  width:336px;
  height:593px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:288px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:142px;
}
#u2285 {
  position:absolute;
  left:931px;
  top:0px;
  width:506px;
  height:142px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:63px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:786px;
}
#u2287 {
  position:absolute;
  left:941px;
  top:733px;
  width:503px;
  height:786px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:385px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
}
#u2289 {
  position:absolute;
  left:1023px;
  top:142px;
  width:336px;
  height:13px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:-2px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:1023px;
  top:155px;
  width:336px;
  height:47px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:16px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:46px;
}
#u2296 {
  position:absolute;
  left:1023px;
  top:155px;
  width:336px;
  height:46px;
  font-size:18px;
}
#u2297 {
  position:absolute;
  left:2px;
  top:15px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2298 {
  position:absolute;
  left:1040px;
  top:165px;
  width:87px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2300 {
  position:absolute;
  left:1141px;
  top:165px;
  width:98px;
  height:22px;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u2302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:8px;
}
#u2302 {
  position:absolute;
  left:1160px;
  top:193px;
  width:62px;
  height:8px;
  font-size:18px;
}
#u2303 {
  position:absolute;
  left:2px;
  top:-4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2304 {
  position:absolute;
  left:1246px;
  top:165px;
  width:95px;
  height:32px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2306 {
  position:absolute;
  left:1092px;
  top:211px;
  width:213px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2308 {
  position:absolute;
  left:1034px;
  top:211px;
  width:50px;
  height:50px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2310 {
  position:absolute;
  left:1094px;
  top:277px;
  width:254px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2312 {
  position:absolute;
  left:1094px;
  top:236px;
  width:160px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2314 {
  position:absolute;
  left:1244px;
  top:239px;
  width:52px;
  height:28px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u2316 {
  position:absolute;
  left:1034px;
  top:319px;
  width:314px;
  height:1px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2318 {
  position:absolute;
  left:1298px;
  top:240px;
  width:52px;
  height:28px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
